header {
  background-color: var(--color5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 4px 4px 8px black;
}

header nav {
  padding-inline: 1rem;
  font-size: 1.4rem;
  color: var(--color2);
}

header nav ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header img {
  margin-right: 1rem;
}
