.password-form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color5);
  color: var(--color4);
  font-size: 1.2rem;
  padding: 2rem 8rem;
  border-radius: 4px;
  box-shadow: 4px 4px 8px black;
}

.password-form-container label {
  display: flex;
  flex-direction: column;
}

.password-form-container input {
  font-size: 1.4rem;
  padding: 0.1rem 0.3rem;
  border-radius: 4px;
}

.password-form-container input:focus {
  outline: 3px solid var(--color4);
}

.password-form-container button {
  font-size: 1.4rem;
  align-self: end;
  padding: 0.2rem 0.8rem;
  background-color: var(--color4);
  color: var(--color5);
}

.password-form-container button:hover,
.password-form-container button:focus {
  background-color: var(--color2);
  color: var(--color3);
}
