.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 6rem;
}

.user-update-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color3);
  color: var(--color2);
  font-size: 1.2rem;
  padding: 2rem 6rem;
  border-radius: 4px;
  box-shadow: 4px 4px 8px black;
}

.user-update-form label {
  display: flex;
  flex-direction: column;
}

.user-update-form input {
  font-size: 1.4rem;
  border-radius: 2px;
  padding: 0.1rem 0.4rem;
}

.user-update-form input:focus {
  outline: 3px solid var(--color2);
}

.user-update-form button {
  font-size: 1.4rem;
  padding: 0.2rem 0.8rem;
  background-color: var(--color2);
  color: var(--color3);
  align-self: end;
}

.user-update-form button:hover,
.user-update-form button:focus {
  background-color: var(--color4);
  color: var(--color5);
}

.issue-container {
  background-color: var(--color1);
  color: var(--color2);
  font-size: 1.2rem;
  border-radius: 4px;
  box-shadow: 4px 4px 8px black;
  padding: 2rem 6rem;
  margin-inline: 10rem;
}

.issue-container h2 {
  text-align: center;
  color: var(--color3);
}

.issue-container ul {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.issue {
  display: flex;
  flex-direction: column;
  background-color: var(--color3);
  padding: 1rem 2rem;
  border-radius: 4px;
}

.expired-issue {
  background-color: var(--color5);
  color: var(--color4);
}

.no-issue {
  padding: 1rem 6rem;
  margin-top: 1rem;
  background-color: var(--color3);
  border-radius: 4px;
}

.profile-buttons-container {
  display: flex;
  gap: 1rem;
}

.profile-buttons-container > button {
  font-size: 1.4rem;
  background-color: var(--color5);
  color: var(--color4);
  padding: 0.2rem 0.8rem;
  box-shadow: 2px 2px 4px black;
}

.profile-buttons-container > button:hover,
.profile-buttons-container > button:focus {
  background-color: var(--color4);
  color: var(--color5);
}
