@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

:root {
  --color1: rgb(139, 142, 142);
  --color2: rgb(173, 246, 177);
  --color3: rgb(19, 41, 61);
  --color4: rgb(230, 57, 70);
  --color5: rgb(39, 39, 39);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

* li {
  list-style-type: none;
}

* a {
  text-decoration: none;
  color: inherit;
}

* button {
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  transition: 350ms;
  position: relative;
}

* input {
  font-family: inherit;
}

* table,
* th,
* td {
  border-collapse: collapse;
}

body {
  background: var(--color1);
  font-family: "Lora", serif;
}

.welcome-page-background-image {
  background: url("/images/welcome-background.jpg") var(--color1) no-repeat;
  background-blend-mode: luminosity;
  background-size: cover;
  min-height: 100vh;
}

.default-background-image {
  background: url("/images/default-background.jpg") var(--color1) repeat;
  background-blend-mode: luminosity;
  min-height: 100vh;
}

.input-error {
  color: var(--color4);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}

.tooltip {
  background-color: var(--color3);
  color: var(--color2);
  position: absolute;
  top: 100%;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-size: 1rem;
  display: none;
}

button:hover > .tooltip,
button:focus > .tooltip {
  display: block;
}

a:hover > .tooltip,
a:focus > .tooltip {
  display: block;
}
