body {
  background-size: cover;
}

.welcome-container {
  height: 60vh;
  margin-top: 10rem;
  padding-inline: 2rem;
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.welcome-container h1 {
  font-size: 2.4rem;
  color: var(--color3);
}

.qoute q {
  font-size: 1.6rem;
  color: var(--color2);
}

.qoute span {
  padding-left: 5px;
  color: var(--color3);
}
